/* #afonso-pena {
    background-color: blueviolet;
}

#maria-joao {
    background-color: cyan;
} */

col#afonso-pena {
    background-color: blueviolet;
}

col#maria-joao {
    background-color: cyan;
}